@use "sass:color";
@import "fonts";
@import "colors";

$breakpoint-comp: 1024px; //laptop
$breakpoint-mobile: 760px;//tablet

*, *:before, *:after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
:root {
  font-size: 16px;
}

// Za dużo stylów się tu znajduje - powinny się one znaleźć przy komponentach ;)
body {
  font-family: $font-base;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
.btn {
  font-family: $font-base;
  font-size: 2.25rem;
  font-weight: 100;
  line-height: 2.8125rem;
  text-transform: uppercase;
  border: 1px solid $darkgrey;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $darkgrey;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;


  &:hover, &:focus {
    color: $white;
    background-color: $darkgrey;
  }

  &:active {
    position: relative;
    top: 2px;
  }
}
.fancy {
  &:after {
    content: url("../assets/Decoration.svg");
    display: block;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);

  }
}
.form-label {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 40px;
}
.form-input {
  font-size: 1rem;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding-top: 15px;

  &::placeholder {
    color: $grey;
    font-family: $font-base;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    overflow: hidden;

  }
}