.about {
  background: $white url("../assets/People.jpeg") no-repeat 50vw 0;
  background-size: auto 100%;
  &-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
  }
  &-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $darkgrey;
    padding-right: 10%;

  }
  &-title {
    font-size: 2.375rem;
    line-height: 3.4375rem;
    font-weight: normal;
    position: relative;
    margin-bottom: 120px; // Unikaj takich dużych marginesów, staraj się pozycjonować elementy layoutami, np. flex, css grid-em itp.

  }
  &-text {
    text-align: center;
    font-size: 1.875rem;
    line-height: 3.375rem;
    margin-bottom: 70px;
  }
  &-signature {
    align-self: flex-end;
  }
}

@media (max-width: $breakpoint-mobile) {
  .about {
    background: $white;

    &-content {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }

    &-text {
      font-size: 1.25rem;
      line-height: 2.1875rem;
    }

  }
}