.footer {
  color: $darkgrey;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;

  // Nice!
  &::after {
    content: "";
    position: absolute;
    background: url("../assets/Background-Contact-Form.jpeg") no-repeat top left;
    inset: 0;
    background-size: cover;
    opacity: .3;
    z-index: -1;
    }

.contact-box {
  display: flex;
  justify-content: flex-end;
}
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  // Unikaj "zapinania się" na nazwy elementów z DOM, lepiej używać klas
  textarea {
    resize: none;
    display: block;
    border-bottom: solid 1px $darkgrey;
    width: 95%;

  }
  label, input {
    display: block;
  }

}
.contact-title {
  font-weight: normal;
  font-size: 2.375rem; // Kilka razy już to powtórzyłaś - może warto wyrzucić to do pliku ze zmiennymi, np. `fonts.scss`?
  line-height: 3.4rem;
  text-align: center;
  position: relative;

}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}

  .input-wrapper {
    display: inline-block;
    width: 50%;
    input {
      border-bottom: solid 1px $darkgrey; // Kolor użyty "implicite" - lepiej byłoby zaimportować `colors` oddzielnie z settings - przestanie działać, jeśli plik nie będzie zgrupowany z innymi!
      width: 90%;
      padding-top: 20px;
      padding-bottom: 12px;
    }

  }
  .submit-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.form-submit {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  padding: 10px 40px;
  margin: 40px auto;
  background: none;
  &:hover, &:focus {
    background-color: $brown;
  }
}
}

.error-text {
  color: red;
  margin: 0;
}
.message-sent {
  color: #03aa15;
  font-weight: 600;
  transform: translateY(100px);
}

@media (max-width: $breakpoint-mobile) {
  .footer:after {
    opacity: 0.15;
    background-position: center;
  }
  .contact-box {
    justify-content: center;
  }
}
