.footer {
  color: $darkgrey;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url("../assets/Background-Contact-Form.jpeg") no-repeat top left;
    inset: 0;
    background-size: cover;
    opacity: .3;
    z-index: -1;
    }

.contact-box {
  display: flex;
  justify-content: flex-end;
}
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  textarea {
    resize: none;
    display: block;
  }
  label, input {
    display: block;
  }

}
.contact-title {
  font-weight: normal;
  font-size: 2.375rem;
  line-height: 3.4rem;
  text-align: center;
  position: relative;

}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
}

.input-wrapper {
  display: inline-block;
  width: 50%;
  &::after {
    content: "";
    display: block;
    border-bottom: solid 1px $darkgrey;
    width: 90%;
    padding-top: 12px;

  }

}
.submit-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-top: solid 1px $darkgrey;

}
.form-submit {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  padding: 10px 40px;
  margin-top: 40px;
  background: none;
  &:hover, &:focus {
    background-color: $brown;
  }
}
}