.handform {
  height: 100vh;

  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &-box {
    max-width: 600px;
    text-align: center;
    transform: translateX(25%);
    margin: auto;

    &-wrapper {
      height: 100vh;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: url("../assets/Form-Hero-Image.jpeg") no-repeat right;
        background-size: cover;
        z-index: -20;
        opacity: .9;
      }
    }
    &-title {
      font-size: 2.375rem;
      letter-spacing: -.76px;
      font-weight: 400;
      position: relative;
      margin-bottom: 100px;
      line-height: 3.437rem;
    }
    &-subtitle {
      font-weight: 300;
      font-size: 2.5rem;
    }
    &-steps {
      display: flex;
      justify-content: space-around;
      margin: 100px 0 5% 0;
    }
    &-step {
      width: 100px;
      height: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &:after {
        content: "";
        position: absolute;
        top: -15px;
        left: -15px;
        border: .75px solid $darkgrey;
        width: 130px;
        height: 130px;
        transform: rotate(45deg);
        z-index: -1;
      }
      h3 {
        font-weight: 300;
        font-size: 32px;
      }
      p {
        font-weight: 300;
        font-size: 1.375rem;
        line-height: 1.687rem;
      }
    }
  }
  &-alert {
    padding: calc(10px + 2vh) 0;
    position: relative;
    background-color: $yellow;
    .alert-title {
      font-size: 2.25rem;
      font-weight: 600;
      color: #000000;
      padding-bottom: 10px;
    }
    .alert-text {
      font-size: 1.375rem;
      color: $darkgrey;
      font-weight: 400;
    }
  }
}

@media (max-width: $breakpoint-comp) {
  .handform-box {
    position: relative;
    transform: scale(.95);
    margin: auto;
  }
}

@media (max-width: $breakpoint-mobile) {
  .handform-box {
    &-wrapper:after {
      display: none;
    }

    &-title {
      font-size: 1.4rem;
      margin-top: 20px;
      margin-bottom: 80px;
    }

    &-subtitle {
      font-size: 1.5rem;
    }

    &-steps {
      display: flex;
      flex-direction: column;
      margin: 20px;
    }

    &-step {
      width: 100%;
      height: auto;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-bottom: .75px solid $darkgrey;

      &:after {
        display: none;
      }

      h3 {
        font-size: 1.3rem;
        margin: 0 10px;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
  .handform-alert {
    padding: 10px 0;

    .alert-title {
      font-size: 1.8rem;
    }

    .alert-text {
      font-size: 0.875rem;
      line-height: 1.75rem;
    }
  }
}