.sign-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $darkgrey;
  position: relative;
  &-title, h1 {
    font-size: 2.5rem;
    position: relative;
    font-weight: normal;
  }
}


.sign-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0;

  &-inputs {
    background-color: $white;
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0 50px 50px;

    .form-input {
      border-bottom: solid 1px $darkgrey;
      width: 100%;
      margin-top: 15px;
    }
  }
  }
.sign {
  &-link {
    text-decoration: none;
    font-size: 1.125rem;
    color: $darkgrey;
    font-weight: 300;
  }
  &-btns {
    background: none;
    font-size: 1.125rem;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 2rem;
    padding: 20px;
    margin: 20px;
    font-weight: 100;

  }
  &-btn {
    font-family: $font-base;
    padding: 0 15px 0 15px;
    font-weight: 100;
    line-height: 2.8125rem;
    border: .75px solid $darkgrey;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: $darkgrey;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
    background: none;

    &:hover, &:focus {
      color: $yellow;
      background-color: $brown;
    }
    &:active {
      position: relative;
      top: 2px;
    }
  }
}
.error-input {
  color: red;
  margin: 0;
}
.loading {
  display: block;
  width: 80px;
  height: 80px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid $darkgrey;
  border-color: $darkgrey transparent $darkgrey transparent;
  animation: loading 1.2s linear infinite;
}





