.nav-menu {
  width: 100%;
  position: absolute;
}

.nav-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  padding-top: 50px;
  z-index: 1;
}
.nav-user {
  .decoration {
    border: solid 0.75px $yellow;

  }

  &-item {
    display: inline-block;
    font-family: $font-base;
    font-size: 0.875rem;
    font-weight: normal;
    text-decoration: none;
    color: $grey;
    padding: 10px;
  }

  &-email {
    font-size: 0.875rem;;
    display: inline-block;
    margin-right: 20px;
    color: $grey;
  }

  &-logout {
    font-family: $font-base; // Często powtarzasz font-family - czy na pewno jest to potrzebne tak często? A może warto ustawić ten font na całą stronkę?
    color: $grey;
    font-size: 0.875rem;
    font-weight: normal;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 10px;


  }
}
.nav {
  &-list {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    transform: translateX(20px);
  }
  &-item {
    margin-left: 15px;
    align-self: center;
    padding-right: 15px;
    text-align: center;
  }
  &-link {
    display: inline-block;
    font-size: 1.125rem;
    color: $darkgrey;
    padding: 10px 20px;
    cursor: pointer;
  }
}
.active {
  border: solid 0.75px $grey;
}
@media (max-width: $breakpoint-mobile) {
  .nav-top {
    padding-top: 10px;
  }
  .nav-user-email {
    font-size: 0.875rem;
    margin: 0;
    display: block;
    text-align: right;
  }
  .nav-user-item {
    font-size: 0.875rem;
    margin: 5px 0;
  }
  .nav-list {
    margin-top: 0.875rem;
  }
  .nav-item {
    margin: 0;
  }
  .nav-link {
    font-size: 0.875rem;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
}
@media (min-width: 600px) {
  .mobile {
    display: none;
  }
}