.steps {
  color: $darkgrey;
  font-family: $font-base;
  font-weight: normal;
  overflow: hidden;
  margin-top: 50px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    letter-spacing: -.76px;
    font-size: 38px;
    line-height: 55px;
    margin-bottom: 80px;
    position: relative;
    text-align: center;
  }
  &-steps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    position: relative;
    margin: 50px 0;
    padding: 50px 0;

    &:after {
      content: "";
      background-color: $white;
      height: 100%;
      width: 100vw;
      position: absolute;
      top:0;
      left:50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
  &-two {
    display: flex;
    width: 50%;
    justify-content: space-around;
    min-width: 350px;
  }
  &-btn {
    margin-bottom: 50px;
    padding: 10px 30px;
  }
}