.steps {
  color: $darkgrey;
  font-family: $font-base;
  font-weight: normal;
  overflow: hidden;
  margin-top: 50px;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    letter-spacing: -.76px;
    font-size: 38px;
    line-height: 55px;
    margin-bottom: 80px;
    position: relative;
    text-align: center;
  }
  &-steps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    position: relative;
    margin: 50px 0;
    padding: 50px 0;

    &:after {
      content: "";
      background-color: $white;
      height: 100%;
      width: 100vw;
      position: absolute;
      top:0;
      left:50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
  &-box {
    display: flex;
    justify-content: space-around;
  }
  &-btn {
    margin-bottom: 50px;
    padding: 10px 30px;
  }
}
.step {
  text-align: center;
  padding: 15px;
  &-icon {
    display: block;
    margin: 10px;
  }
  &-title {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    min-width: 260px;
    &:after {
      content: "";
      width: 100px;
      position: absolute;
      color: #222222;
      border-bottom: $darkgrey 1px solid;
      left: 50%;
      margin-top: 15px;
      transform: translateX(-50%);
      display: block;
    }
  }
  &-subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
  }
}