.survey {
  padding: 35px 0;
  background: url("../assets/Background-Form.jpeg") #E8E8E6 no-repeat right;
  background-size: cover;

  &-wrapper {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.form-nav {
  &-btn{
    font-family: $font-base;
    font-size: 1.5rem;
    font-weight: 300;
    width: 180px;
    height: 80px;
    background: none;
    outline: none;
    border: .75px solid $darkgrey;
    cursor: pointer;
    text-transform: none;
    margin-right: 50px;
  }
}
.form-inputs {
  color: $darkgrey;
  font-size: 1.5rem;
  font-weight: 300;
  width: 50%;
  min-width: 600px;
  .step {
    &-number {
      font-weight: 300;
      font-size: 1.5rem;
      padding: 10px 0;
    }
    &-title {
      font-weight: 600;
      font-size: 2.25rem;
      padding: 10px 0;
      margin: 20px 0;
      &:after {
        display: none;
      }
    }
  }
}


.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 40px 0;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: .75px solid $darkgrey;
  }

  input:checked ~ .checkmark {
    background-color: $yellow;
  }
}
