.survey {
  padding: 35px 0;
  background: url("../assets/Background-Form.jpeg") #E8E8E6 no-repeat right;
  background-size: cover;

  &-wrapper {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.form-nav {
  &-btn{
    font-family: $font-base;
    font-size: 1.5rem;
    font-weight: 300;
    width: 180px;
    height: 80px;
    background: none;
    outline: none;
    border: .75px solid $darkgrey;
    cursor: pointer;
    text-transform: none;
    margin-right: 50px;
  }
}
.form-inputs {
  color: $darkgrey;
  font-size: 1.5rem;
  font-weight: 300;
  width: 50%;
  min-width: 600px;
  .step {
    &-number {
      font-weight: 300;
      font-size: 1.5rem;
      padding: 10px 0;
    }
    &-title {
      font-weight: 600;
      font-size: 2.25rem;
      padding: 10px 0;
      margin: 20px 0;
      &:after {
        display: none;
      }
    }
  }
}


.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 40px 0;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: .75px solid $darkgrey;
  }

  input:checked ~ .checkmark {
    background-color: $yellow;
  }
}


@media (max-width: $breakpoint-mobile) {
  .survey {
    background: #E8E8E6;
  }
  .form-inputs {
    width: 100%;
    min-width: auto;
  }
}

@media (max-width: $breakpoint-mobile) {
  .form-inputs {
    &-input {
      font-size: 1rem;
    }

    .step-title {
      font-size: 1.25rem;
      margin: 0;
      line-height: 1.875rem;
    }

    .step-subtitle {
      font-size: 1.25rem;
      margin: 0;
      line-height: 1.875rem;
    }
    .step-number {
      font-size: 0.875rem;
    }
    .step-contact {
      flex-direction: column;
    }
    .step-address {
      width: 100%;
    }
    .step-date {
      width: 100%;
    }
    .step-line {
      font-size: 1rem;
      margin: 0;
    }
    .summary {
      &-things {
        font-size: 1rem;
        line-height: 1.375rem;
      }
      &-localization {
        font-size: 1rem;
        line-height: 1.375rem;
        margin-bottom: 20px;
      }
      &-contact {
        flex-direction: column;
        font-size: 1rem;
        margin: 0;
        p {
          padding: 10px 0;
        }
      }
    }
    .thanks {
      font-size: 1.5rem;
    }
  }
  .checkbox-container {
    margin: 10px 0;
    font-size: 1.125rem;
    padding-left: 25px;

    .checkmark {
      height: 15px;
      width: 15px;
    }
  }
  .form-nav {
    display: flex;
    justify-content: space-between;

    &-btn {

      font-size: 1.25rem;
      width: 45%;
      height: auto;
      padding: 5px 20px;
      margin: 0;
    }

  }
  .select-css {
    font-size: 1.25rem;
    padding: 5px;
    margin: 20px 0;
  }

  .radio-container {
    font-size: 1rem;
    position: relative;
    padding: 5px 10px;
    margin: 10px 10px 0 0;
  }
}